## Mobile Phone Price Classification

In [0]:
import pandas as pd

In [0]:
dt=pd.read_csv('train.csv')

In [3]:
dt.price_range.value_counts()

3    500
2    500
1    500
0    500
Name: price_range, dtype: int64

In [4]:
dt.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2
2,563,1,0.5,1,2,1,41,0.9,145,5,...,1263,1716,2603,11,2,9,1,1,0,2
3,615,1,2.5,0,0,0,10,0.8,131,6,...,1216,1786,2769,16,8,11,1,0,0,2
4,1821,1,1.2,0,13,1,44,0.6,141,2,...,1208,1212,1411,8,2,15,1,1,0,1

In [0]:
X=dt[:]
y=X.pop('price_range')

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [16]:
print X_train.shape, y_train.shape
print X_test.shape, y_test.shape

(1600, 20) (1600,)
(400, 20) (400,)

In [21]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
x=0.01
for i in range(50):
    model = XGBClassifier(learning_rate=x)
    x=x+0.01
    model.fit(X_train, y_train)
    y_pred = model.predict(X_test)
    accuracy = accuracy_score(y_test,y_pred)
    print(x,"Accuracy: %.2f%%" % (accuracy * 100.0))

(0.02, 'Accuracy: 82.50%')
(0.03, 'Accuracy: 84.25%')
(0.04, 'Accuracy: 85.00%')
(0.05, 'Accuracy: 87.00%')
(0.060000000000000005, 'Accuracy: 88.25%')
(0.07, 'Accuracy: 89.00%')
(0.08, 'Accuracy: 90.50%')
(0.09, 'Accuracy: 90.50%')
(0.09999999999999999, 'Accuracy: 89.75%')
(0.10999999999999999, 'Accuracy: 91.75%')
(0.11999999999999998, 'Accuracy: 92.00%')
(0.12999999999999998, 'Accuracy: 91.75%')
(0.13999999999999999, 'Accuracy: 92.00%')
(0.15, 'Accuracy: 92.00%')
(0.16, 'Accuracy: 92.00%')
(0.17, 'Accuracy: 93.25%')
(0.18000000000000002, 'Accuracy: 92.25%')
(0.19000000000000003, 'Accuracy: 93.00%')
(0.20000000000000004, 'Accuracy: 93.00%')
(0.21000000000000005, 'Accuracy: 91.75%')
(0.22000000000000006, 'Accuracy: 93.25%')
(0.23000000000000007, 'Accuracy: 92.75%')
(0.24000000000000007, 'Accuracy: 93.25%')
(0.25000000000000006, 'Accuracy: 92.75%')
(0.26000000000000006, 'Accuracy: 92.75%')
(0.2700000000000001, 'Accuracy: 93.50%')
(0.2800000000000001, 'Accuracy: 92.50%')
(0.2900000000000001, 'Accuracy: 92.25%')
(0.3000000000000001, 'Accuracy: 93.00%')
(0.3100000000000001, 'Accuracy: 93.25%')
(0.3200000000000001, 'Accuracy: 93.00%')
(0.3300000000000001, 'Accuracy: 92.75%')
(0.34000000000000014, 'Accuracy: 92.25%')
(0.35000000000000014, 'Accuracy: 93.50%')
(0.36000000000000015, 'Accuracy: 93.25%')
(0.37000000000000016, 'Accuracy: 92.75%')
(0.38000000000000017, 'Accuracy: 92.25%')
(0.3900000000000002, 'Accuracy: 93.00%')
(0.4000000000000002, 'Accuracy: 93.00%')
(0.4100000000000002, 'Accuracy: 92.00%')
(0.4200000000000002, 'Accuracy: 92.50%')
(0.4300000000000002, 'Accuracy: 92.25%')
(0.4400000000000002, 'Accuracy: 92.75%')
(0.45000000000000023, 'Accuracy: 93.25%')
(0.46000000000000024, 'Accuracy: 93.25%')
(0.47000000000000025, 'Accuracy: 93.25%')
(0.48000000000000026, 'Accuracy: 92.50%')
(0.49000000000000027, 'Accuracy: 93.75%')
(0.5000000000000002, 'Accuracy: 92.75%')
(0.5100000000000002, 'Accuracy: 94.25%')

In [22]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score
model = XGBClassifier(learning_rate=0.5000000000000002)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test,y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 94.25%